@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: #475569 transparent;
}

/* Chrome */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}